$white: #ffffff;
$black: #000000;
$dark-green-1: #193f3d;
$dark-green-2: #173a38;
$light-gray-1: #c4afaf29;
$light-gray-2: #efeeee;
$dark-gray-1: #0000005c;
$dark-gray-2: #173a38cf;
$blue: #406396;
$light-beige-1: #cc545429;
$light-beige-2: #b2720833;
$light-beige-3: #b2720859;
$beige: #b27208;
