<div class="recent-investment">
    <div class="recent-investment__header">{{'HOME.RECENT_INVESTMENT.title' | translate}}</div>
    <div class="recent-investment__description">
        <p class="recent-investment__description-text">
            {{"HOME.RECENT_INVESTMENT.description" | translate}}
        </p>
        <div class="recent-investment__description-more">
            <span class="text">{{'MORE' | translate}}</span>
            <span class="icon ic-arrow-right"></span>
        </div>
    </div>
</div>